.five-pointed-star {
  --star-color:brown;
  margin:1em auto;
  font-size:2em;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
 }
 .five-pointed-star:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content:"";
  transform: rotate(-35deg);
 }
 .five-pointed-star:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content:"";
 }




*{
    font-family: 'Montserrat', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
   
    
  }
  
  h2{
    text-align: center;
    font-size: 7px;
    color: rgba(0, 0, 0, 0.3);
    text-transform: lowercase;
    padding-bottom: 3px;
    padding-right: ;
    margin-top: -30px
  }
  
  body{
   background-color: white; zoom: 125%;
  }
  
  .heading { text-align: center; 
    margin: 0;
    font-family: sans-serif, papyrus;
    background: #ffffff; font-weight: 100;
    padding-top: 10px; ;
    text-transform: capitalize;
    transition: all .2s linear;
    padding-bottom: 4px
    
    
    
    
  
  }
  .divider{
    width: 300px;
    height: 3px;
    background-color: brown;
    display: inline-block;
    border-radius: 10px
    ;
  }
  
  .container .box-container{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 0p;
    padding-top: 29px;
  justify-content: space-evenly;}
  
  
  
  
  
  .container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding:25px 20px;
  }
  
  .container .heading{
    font-size: 40px;
    margin-bottom: 20px;
    color:#334;
  }
  
  
  
  
  
  .container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:20px;  
  }
  
  .container .box-container .box{
    background-color: 
    padding:20px;
    border-radius: 5px;
    ;
    display: none;
  }
  
  .container .box-container .box:nth-child(1),
  .container .box-container .box:nth-child(2),
  .container .box-container .box:nth-child(3),
  .container .box-container .box:nth-child(4),
  .container .box-container .box:nth-child(5),
  .container .box-container .box:nth-child(6),
  .container .box-container .box:nth-child(7),
  .container .box-container .box:nth-child(8),
  .container .box-container .box:nth-child(9),
  .container .box-container .box:nth-child(10),
  .container .box-container .box:nth-child(11),
  .container .box-container .box:nth-child(12),
  .container .box-container .box:nth-child(13),
  .container .box-container .box:nth-child(14),
  .container .box-container .box:nth-child(15),
  .container .box-container .box:nth-child(16),
  .container .box-container .box:nth-child(17),
  .container .box-container .box:nth-child(18)
  
  
  {
    display: inline-block;
  }
  
  
  .container .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  
  
  
  
  #load-more{
    margin-top:30px;
    display: inline-block;
    padding:13px 30px;
    border:1px solid #334;
    color:#334;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
  }
  
  #load-more:hover{
    background-color: brown;
    border-color: brown;
    color:#fff;
  }
  
  @media (max-width{:)
  
    .container .heading{
      font-size: 25px;
    }
  
    .container .box-container{
      grid-template-columns: 1fr;
    }
  
    .container .box-container .box .image{
      height: 200px;
    }
  
    .container .box-container .box .content p{
      font-size: 12px;
    }
  
    .container .box-container .box .content .icons span{
      font-size: 12px;
    }
  
  }
